<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tripflow.ai.planner.plan.dao.CurrentActivityDao">

  <select id="selectCurrentActivityById" resultType="CurrentActivity">
    SELECT id, plan_place_id, actual_cost, memo, ended_at
    FROM current_activities WHERE id = #{id}
  </select>

  <select id="selectCurrentActivityByPlanPlaceId" resultType="CurrentActivity">
    SELECT id, plan_place_id, actual_cost, memo, ended_at
    FROM current_activities WHERE plan_place_id = #{planPlaceId}
  </select>

  <insert id="insertCurrentActivity" parameterType="CurrentActivity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO current_activities (plan_place_id, actual_cost, memo, ended_at)
    VALUES (#{planPlaceId}, #{actualCost}, #{memo}, #{endedAt})
  </insert>

  <update id="updateCurrentActivity" parameterType="CurrentActivity">
    UPDATE current_activities
    SET actual_cost = #{actualCost}, memo = #{memo}, ended_at = #{endedAt}
    WHERE plan_place_id = #{planPlaceId}
  </update>

  <update id="updatePlanplaceIsEnded">
    UPDATE plan_places
    set is_ended = TRUE
    WHERE id = #{planPlaceId}
  </update>

  <delete id="deleteCurrentActivityById" parameterType="long">
    DELETE FROM current_activities WHERE id = #{id}
  </delete>

</mapper>