<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tripflow.ai.travelgram.review.dao.ReviewHashtagDao">

  <!-- ReviewHashtag -->

  <delete id="deleteHashtagsByReviewPostId"> DELETE FROM review_hashtags WHERE review_post_id =
    #{reviewPostId} </delete>

  <insert id="insertHashtagList"> INSERT INTO review_hashtags ( review_post_id, name, created_at )
    VALUES <foreach collection="names" item="name" separator=","> ( #{reviewPostId}, #{name},
    NOW() ) </foreach>
  </insert>

</mapper>
